* {
    margin: 0;
    padding: 0;
}

/* Стили для вкладок */
.tabs {
    display: flex;
    flex-direction: column;
    width: 300px; /* Укажите желаемую ширину для вкладок */
    border: 1px solid #ccc;
}

.tabs-header {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 1px solid #cccccc;
}

.tabs-header .select-list__item {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.tabs-header .select-list__item:last-child {
    border-right: none;
}

.tabs-header .select-list__item.active {
    background-color: #cdcdcd;
}

.tabs-header .select-list__item:hover {
    background-color: #ddd;
}

/* Стили для окон вкладок */
.tabs-windows .tab-window {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

/* Показываем активное окно */
.tabs-windows .tab-window.active {
    display: block;
}

