* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1.3rem auto;
}

p {
    margin: 1rem 0;
}

.bold {
    font-weight: 600;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 2rem auto 1rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #aaa;
}

section:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.section__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

ol, ul {
    margin-left: 1rem;
}

li {
    list-style-position: inside;
    margin-bottom: 3px;
}

li:last-child {
    margin-bottom: 0;
}

li ul {
    margin-left: 30px;
}

li.bold ul {
    font-weight: normal;
    list-style: none;
}

li.bold ul li {
    position: relative;
}

li.bold ul li::before {
    content: "-";
    position: absolute;
    left: -15px;
}
